<ion-view title={{pageTitle}}>
	<ion-content class="">
		<div class="ion-content ">

		<div class="row proceed-to-pay">
				<div class="col-10">
				</div>
				<div class="col-80">
					<center><b>Confirm booking</b></center>
				</div>
				<div class="col-10">
				</div>
		</div>
		<div class="row proceed-to-pay-basic">
			<div class="col-80 ">Total advance amount to be paid</div>
			<div class="col-20">Rs 155</div>
		</div>
		<div class="row proceed-to-pay-basic">
			<div class="col">Select an option to pay</div>
		</div>
		<hr>

		<div class="row" style="padding: 20px">
			<div class="col-75 proceed-to-pay">
				<div class="row">
					<div class="col-20">
					<img src="img/scutops.png">
					</div>
					<div class="col-80">
					<b>ScutOps Money</b>
					</div>
				</div>

				<hr>
				<div class="row" style="font-size: 10px">
					<div class="col-80">
						Available Balance
					</div>
					<div class="col-20">20 </div>
				</div>
				<div class="row" style="font-size: 10px">
					<div class="col-80">
						To be paid
					</div>
					<div class="col-20">78</div>
				</div>
				<hr>
				<div class="row" style="font-size: 10px">
					<div class="col-80" style="padding-bottom: 10px">
						Updated Balance
					</div>
					<div class="col-20"></div>
				</div>
				<div class="row">
					<button class="payment-button">PROCEED TO PAY</button>
				</div>
			</div>
			<div class="col-25"></div>	
		</div>
		<div class="row other-payment-modes">
			<div class="col-80"><b> Other payment modes</b></div>
		</div>
		<hr>
		<div class="row other-payment-modes">
		<div class="col-80">Credit Card</div>
		</div>
		<hr>
		<div class="row other-payment-modes">
			<div class="col-80">
				Net Banking
			</div>
		</div>
		<hr>
		<div class="row other-payment-modes">
			<div class="col-80">Other Wallets</div>
		</div>
		<hr>
	</ion-content>
</ion-view>


	