<ion-view title={{pageTitle}}>
	<ion-content class="login-page">
		<div class="ion-content ">
			<div class="row">
			  <div class="col-10"></div>
			  <div class="col">
			  	<div class="col loginOrSignup">Login or Sign up</div>	
			  	  <div class="col-10"></div>
			</div> 
			<div class="row button-margin login-top">
			  	<div class="col-10"></div>
			  	<div class="col">
			  		<button class="button button-block button-royal button-login"ng-click="Login.authinticateUser()">SIGNIN</button>
			  	</div>
			  	<div class="col-10"></div>
			</div>	
			<div class="row align-center">
				<div class="col"ng-click="Login.SignUp()">Registeration</div>
			</div>



		</div>
	</ion-content>
</ion-view>