<ion-view title={{pageTitle}}>
	<ion-content class="">
		<div class="ion-content  ">
				<br>
				<br>

			<div class="row">

			  <div class="col-20"></div>
			  <div class="col registrationTitle heading">NOTIFICATION SETTINGS</div>
			  <div class="col-20"></div>
			</div>
			
<br>
				<br>
				<div class="after_border">

</div>
				Notification tone
				<div class="after_border">

</div>
				Vibrate
				<div class="after_border">

</div>
				Light
				<div class="after_border">

</div>



		</div>
	</ion-content>
</ion-view>