<div ng-controller="SidebarController" class="sidebar" sidebar-directive="state">
   <a href="" id="navigation-toggle" ng-click="toggleState()">&nbsp;</a>
   <ul class="navigation">

   	<li class="navigation-items" style="padding-top: 35px;"> 
   		<img src="img/home.png" class="image-style float-left" style="padding-top: 7px" width="10%" />
   		<a href="index.html#/home">Home</a>
   	</li>

   	<li class="navigation-items"> 
   		<img src="img/profile.png" class="image-style float-left" width="10%" />
   		<a href="index.html#/profile">Profile</a>
   	</li>

   	<li class="navigation-items"> 
   		<img src="img/announcement.png" class="image-style float-left" width="10%" />
   		<a href="index.html#/announcement">Announcement</a>
   	</li>

   	<li class="navigation-items"> 
   		<img src="img/notification.png" class="image-style float-left" width="10%" />
   		<a href="index.html#/notification">Notification</a>
   	</li>

   	<li class="navigation-items"> 
   		<img src="img/about.png" class="image-style float-left" width="10%" />
   		<a href="index.html#/about">About</a>
   	</li>

   	<li class="navigation-items"> 
   		<img src="img/help.png" class="image-style float-left" width="10%" />
   		<a href="index.html#/help">Help</a>
   	</li>

   	<li class="navigation-items"> 
   		<img src="img/setting.png" class="image-style float-left" width="10%" />
   		<a href="index.html#/setting">Settings</a>
   	</li>

   	<li class="navigation-items"> 
   		<img src="img/message.png" class="image-style float-left" width="10%" />
   		<a href="index.html#/message">Messages</a>
   	</li>

   	<li class="navigation-items"> 
   		<img src="img/close.png" class="image-style float-left" width="10%" />
   		<a href="" ng-click="logout()">Logout</a>
   	</li>
   </ul>
</div>
<ion-view title={{pageTitle}}>
	<ion-content class="">
		<div class="ion-content " style="line-height: 24px;">
		    <div class="row about-font-setting" > Get Job Application</div>
		     <div class="row" style="padding-left: 35%;">Version 1.00000</div>
		     <div class="row" style="padding-left: 8%;"><img src="img/logoorginal.png" width="100%"></img></div>
		    <div class="row" style="padding-left: 102px;"> All rights reserved</div>
		</div>
	</ion-content>
</ion-view>