<ion-view title={{pageTitle}}>
	<ion-content class="login-page">
		<div class="ion-content ">
			<div class="icon ion-gear-a float-right" style="margin-right:10px;margin-top:10px" ng-click="Login.changeServerIp()"></div>

			<div class="row">
				<div class="col-20">
				</div>
			  <div class="col">
			  	<img src="img/scutops-logo.png" width="100%">
			  </div>
			  <div class="col-20">
			  </div>
			</div> 

			<div class="row">
				<div class="col-10">
				</div>
			  <div class="col">
			  	<img src="img/User_Icon.png" class="username">
			  	<input type="text" placeholder="Username" class="item item-icon-left"/>
			  </div>
			  <div class="col-10">
			  </div>
			</div>

			<div class="row">
				<div class="col-10">
				</div>
			  <div class="col">
			  	<img src="img/password_icon.png" class="password">
			  	<input type="password" placeholder="Password" class="item item-icon-left"/>
			  </div>
			  <div class="col-10">
			  </div>
			</div>

			<div class="row">
				<div class="col-10">
				</div>
			  <div class="col">
			  	<img src="img/login-button.png" ng-click="Login.authinticateUser()" class="cursor-pointer" width="100%">
			  </div>
			  <div class="col-10">
			  </div>
			</div>

			<div class="row">
				<div class="col-20">
				</div>
			  <div class="col align-center">
			  	<img src="img/signup_text.png" class="cursor-pointer" width="80%">
			  </div>
			  <div class="col-20">
			  </div>
			</div>


			<div class="row">
				<div class="col-20">
				</div>
			  <div class="col align-center">
			  	<img src="img/Forgotpassword_text.png" class="cursor-pointer" width="40%">
			  </div>
			  <div class="col-20">
			  </div>
			</div>


		</div>
	</ion-content>
</ion-view>


