<ion-view title={{pageTitle}}>
	<ion-content class="">
		<div class="ion-content">
			<div class="row">
			  <div class="col"></div>
			  <div class="col settings-page-title"></div>
			  <div class="col"></div>
			</div>

			<div class="row">
			  <div class="col">
			  	<ul class="list margin-top">

  					<li class="item item-toggle noBorder">
    				 Keep logged in
    				<label class="toggle toggle-assertive">
      				<input type="checkbox">
       				<div class="track">
         			<div class="handle"></div>
      			 	</div>
    				</label>
				    </li>
				    <li class="item item-toggle noBorder">
    				 Showing notification bar
    				<label class="toggle toggle-assertive">
      				<input type="checkbox">
       				<div class="track">
         			<div class="handle"></div>
      			 	</div>
    				</label>
				    
				</ul>
			  </div>
			  
			</div>
		</div>
	</ion-content>
</ion-view>