<ion-view title={{pageTitle}}>
	<ion-content class="">
		<div class="ion-content ">
			<br><br>

            <div class="row">
            </div>

            <div class="row">
				<div class="col-10">
				</div>
				<div class="col heading"><center><h4>
					ANNOUNCEMENT</h4>
					</center>
				</div>
				<div class="col-10">
				</div>
			</div>

			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">

					<h5>POST               :
					</h5>
				</div>
				<div class="col">
					<div><h5>{{AnnouncementDetails.announcement.post}}</h5>
					</div>
				</div>
				<div class="col-10">
				</div>
			</div>

			<!-- <div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<div>{{AnnouncementDetails.announcement.post}}
					</div>
				</div>
				<div class="col-10">
				</div>
			</div> -->
			<br>

			

			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<h5>Company Name       :
					</h5>
				</div>
				<div class="col">
					<div><h5>{{AnnouncementDetails.announcement.name}}</h5>
					</div>
				</div>
				<div class="col-10">
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<div>{{AnnouncementDetails.announcement.name}}
					</div>
				</div>
				<div class="col-10">
				</div>
			</div> -->
			<br>

			

			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<h5>Address            :
					</h5>
				</div>
				<div class="col">
					<div><h5>{{AnnouncementDetails.announcement.address}}</h5>
					</div>
				</div>
				<div class="col-10">
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<div>{{AnnouncementDetails.announcement.address}}
					</div>
				</div>
				<div class="col-10">
				</div>
			</div> -->
			<br>

			

			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<h5>Qualification       :
					</h5>
				</div>
				<div class="col">
					<div><h5>{{AnnouncementDetails.announcement.qualification}}</h5>
					</div>
				</div>
				<div class="col-10">
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<div>{{AnnouncementDetails.announcement.qualification}}
					</div>
				</div>
				<div class="col-10">
				</div>
			</div> -->
			<br>

			

			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<h5>Age Limit            :
					</h5>
				</div>
				<div class="col">
					<div></h5>{{AnnouncementDetails.announcement.age_limit}}</h5>
					</div>
				</div>
				<div class="col-10">
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<div>{{AnnouncementDetails.announcement.age_limit}}
					</div>
				</div>
				<div class="col-10">
				</div>
			</div> -->
			<br>

			
			
			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<h5>Experience           :
					</h5>
				</div>
				<div class="col">
					<div><h5>{{AnnouncementDetails.announcement.experience}}</h5>
					</div>
				</div>
				<div class="col-10">
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<div>{{AnnouncementDetails.announcement.experience}}
					</div>
				</div>
				<div class="col-10">
				</div>
			</div> -->
			<br>

			


			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<h5>Last date for apply   :
					</h5>
				</div>
				<div class="col">
					<div><h5>{{AnnouncementDetails.announcement.last_date | date : 'dd MMM yyyy'}}</h5>
					</div>
				</div>
				<div class="col-10">
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<div>{{AnnouncementDetails.announcement.last_date | date : 'dd MMM yyyy'}}
					</div>
				</div>
				<div class="col-10">
				</div>
			</div> -->
			<br>
			


			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<center>
						<input type="button" class="userimage button button-clear button-assertive" name="Apply" value="Apply" ng-click="AnnouncementDetails.applyJob()" style="float: right;" >
						
						
					</center>
				</div>
				<div class="col-10">
				</div>
			</div><br>

  	
		</div>
	</ion-content>
</ion-view>