<ion-view>
	<ion-side-menus>
		<ion-side-menu side="left" style="overflow:scroll !important;">
			
			<div class="header-side-menu-scroll"  side-menu-height>
				<ion-item nav-clear menu-close href="index.html#/dashboard" class="no-padding">
			</ion-item>

				<ion-item nav-clear menu-close href="index.html#/home" class="no-padding" >
					<div class="recuerda-slide-menu"ng-click="Header.goToPage(1)"><img src="img/home.png" class="margin-right icon-size">Home</div>					
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/profile" class="no-padding" >
					
					<div class="recuerda-slide-menu "ng-click="Header.goToPage(2)"><img src="img/profile.png" class="margin-right icon-size">Profile</div>					
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/announcement" class="no-padding" >
					<div class="recuerda-slide-menu"ng-click="Header.goToPage(3)"><img src="img/announcement.png" class="margin-right icon-size">Announcement</div>					
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/notification" class="no-padding">
					<div class="recuerda-slide-menu"ng-click="Header.goToPage(4)"><img src="img/notification.png" class="margin-right icon-size">Notification</div>
				</ion-item>

				

				<ion-item nav-clear menu-close href="index.html#/feedback" class="no-padding">
					<div class="recuerda-slide-menu" ng-click="Header.goToPage(5)"><img src="img/feedback.png" class="margin-right icon-size">Feedback</div>
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/about" class="no-padding">
					<div class="recuerda-slide-menu"ng-click="Header.goToPage(6)"><img src="img/about.png" class="margin-right icon-size">About</div>
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/help" class="no-padding">
					<div class="recuerda-slide-menu"ng-click="Header.goToPage(7)"><img src="img/help.png" class="margin-right icon-size">Help</div>
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/setting" class="no-padding">
					<div class="recuerda-slide-menu"ng-click="Header.goToPage(8)"><img src="img/setting.png" class="margin-right icon-size">Settings</div>
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/message" class="no-padding">
					<div class="recuerda-slide-menu" ng-click="Header.goToPage(9)"><img src="img/message.png" class="margin-right icon-size">Messages</div>
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/login" class="no-padding">
					<div class="recuerda-slide-menu"ng-click="Header.goToPage(10)"><img src="img/close.png" class="margin-right icon-size">Logout</div>
				</ion-item>

				
				<!-- <ion-item nav-clear menu-close ng-click="Header.logout()" class="padding-10">
					<div class="icon-circle no-margin-right"> <img class="side-menu-icons" ng-src="img/icons/logout-icon.png"></div><span class="logout-icon" translate="LOGOUT.PAGE_TITLE"></span> 
				</ion-item> -->
			</div>
			<!-- <div class="row">
				<div class="col side-menu-logo-box">
					<img class="side-menu-logo" src="img/hirs-logo.png"/>
				</div>
			</div> -->
		</ion-side-menu>
		<!-- Main content -->
		<ion-side-menu-content>		
			<ion-nav-bar class="bar-stable nav-title-slide-ios7">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="{{Header.menuAlignment}}"></button>
				<div class="h1 title"></div>
				<ion-nav-buttons side="{{Header.filterAlignment}}">
					<a class="description" href="#/food/search" ng-if="currentState.name=='add-food'">
						<div class="icon ion-search">
						</div>
					</a>
				</ion-nav-buttons>
			</ion-nav-bar>
				<ion-nav-view class="ios-top-padding" name="menuContent"></ion-nav-view>
		</ion-side-menu-content>
	</ion-side-menus>
</ion-view>