  <ion-view title={{pageTitle}}>
	<ion-content class="login-page">
		<div class="ion-content  ">
							<br>
							<br>

						<div class="row">

						  <div class="col-20"></div>
						  <div class="col registrationTitle heading">FORGOT  PASSWORD</div>
						  <div class="col-20"></div>
						</div>
						
			<br>
							<br>

			<div class="row">
							<div class="col-20"></div>
							<div class="col">
							<input type="text" class="emailimage text_padding" ng-model="Forg.newUser.use_name" placeholder="User Name">
			                </div>
			                <div class="col-20"></div>
						</div>

			<br>
							<br>

						<div class="row">
							<div class="col-20"></div>
							<div class="col">
							<input type="text" class="emailimage text_padding" ng-model="Forg.newUser.email_id" placeholder="Email Address">
			                </div>
			                <div class="col-20"></div>
						</div>
						

			<br>
							<br>

						<div class="row">
							<div class="col-20"></div>
							<div class="col">
							<button class="button button-block button-royal button-login button_font_color" ng-click="Forg.passwordss()">
			                SUBMIT
			                </button>
			                </div>
			                <div class="col-20"></div>
						</div>
					
			
		</div>
	</ion-content>
</ion-view>